.header-section{
   color:aqua; 
   border-radius: 20px;
   text-align:center;
   background-color: pink;
}
.mathi{
   color:blueviolet;
}
.nivas{
   color:gray;
}

.btn{
   color:yellowgreen;
   height:30px;
   width: 100px;
   background-color: brown;
   border-radius:20px;
}
.sample{
   background-color:orange;
   width:250px;
   text-align: center;
}